:root{
  /* colors */
  --onyx: lab(8% 5 -13);
  --slate: lab(60% 0 -12);
  --pearl: lab(92% -1 -2);
  --ruby: lab(47% 72 50);
  --garnet: lab(27% 50 37);
}

body {
  background-color: var(--onyx);
}

h1 {
  color: var(--pearl);
  margin: 0%;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Patrick Hand SC", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}

h2 {
  color: var(--pearl);
  margin: 0%;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Patrick Hand SC", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

h3 {
  color: var(--slate);
  margin: 0%;
  width: fit-content;
  margin-inline: auto;
  display: grid;
  place-items: center;
  font-family: "Patrick Hand SC", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

p {
  text-align: center;
  color: var(--ruby);
  font-family: "Patrick Hand", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.input-group
{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.input
{
  width: 200px;
  background-color: var(--onyx);
  color: var(--slate);
  border-color: var(--slate);
  padding: 4px;
  padding-inline: 8px;
  border-radius: 4px;
  border-style: solid;
}

.button
{
  background-color: var(--ruby);
  color: var(--pearl);
  padding: 4px;
  padding-inline: 24px;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 250ms;
}

.button:hover
{
  background-color: var(--garnet);
  color: var(--slate);
  transition-duration: 250ms;
}

.information-group
{
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-box
{
  width: 100%;
  margin-inline: 5px;
  margin-bottom: 8px;
  padding: 10px;
  padding-inline: 30px;
  background-color: var(--garnet);
  border-radius: 20px;
}

.interface-text
{
  font-family: "Patrick Hand", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.information-text
{
  text-align: center;
  color: var(--pearl);
  margin: 0;
  padding-inline: 24px;
  width: fit-content;
  margin-inline: auto;
  font-family: "Patrick Hand", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
}

.unit-text
{
  text-align: right;
  color: var(--slate);
  margin: 0;
  margin-top: -46px;
  margin-bottom: 14px;
  font-family: "Patrick Hand SC", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}